.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    padding: 18% 0% 10% 0%;
}

.hero-left {
    flex: 1; /* Adjust the width of the left column */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5% 0em 0 15%;
}

.hero-right {
    flex: 2; /* Adjust the width of the right column */
    max-width: 60%;
    padding: 0% 12% 0 0;
}

.hero-img {
    border-radius: 50%;
    box-shadow: 0 0 20px 1px #000;
    width: 10rem;
    height: 10rem;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.hero-img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px 5px #000;
}

.hero-name {
    font-size: 2em;
    font-weight: 700;
    margin-top: 0.5em;
    position: relative; /* For positioning the pseudo-element */
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: transform 0.5s ease, text-shadow 0.5s ease;
    padding: 0 30px 0 30px;
}

.hero-name::before {
    content: attr(data-text); /* Use the same text as the element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #ccc, #ccc);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.5s ease, text-shadow 0.5s ease;
}

.hero-name::after {
    content: attr(data-text); /* Use the same text as the element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #da7c25, #b923e1);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease, text-shadow 0.5s ease;
}

.hero-name:hover::before {
    opacity: 0;
}

.hero-name:hover::after {
    opacity: 10;
    transform: scale(1.03);
    text-shadow: 0px 20px 10px rgba(0, 0, 0, 0.5); /* Add shadow to the text */
}

.hero-title {
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 0.5em;
    padding: 0% 30px 0 30px;
    color: #ccc;
    transition: transform 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
}
.hero-title:hover {
    color: #cc5dff;
    transform: scale(1.03);
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
}

.hero-icons {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    color: inherit; /* Set the default color to light gray */
}

.hero-icons a {
    color: inherit; /* Inherit the color from the parent */
    transition: color 0.3s ease, transform 0.3s ease, filter 0.3s ease; /* Add a smooth transition for color changes and shadow */
}

.hero-icons a:hover {
    transform: scale(1.1); /* Scale the icon on hover */
    color: #cc5dff; /* Change the color to your desired shade on hover */
    filter: drop-shadow(0 0 10px rgba(61, 4, 57, 0.7)); /* Add shadow to the icon on hover */
}

.hero-right h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.hero-right p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.hero-info {
    transition: transform 0.5s ease color 0.5s ease;
}

.hero-info span {
    color: #ccc; /* Set the default color to light gray */
    transition: transform 0.5s ease, color 0.5s ease;
}

.hero-info:hover span {
    color: #cc5dff; /* Change the color to purple */
    transform: scale(1.03);
    transition: transform 0.5s ease, color 0.5s ease;
}
.hero-info ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #ccc; /* Set the default color to light gray */
    margin: 0; /* Remove default margin */
}

.hero-info ul li {
    margin-bottom: 0.5em;
}

.hero-caption {
    font-size: 1.2em;
    color: grey;
    font-style: italic;
    background: linear-gradient(to right, grey, grey);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: transform 0.5s ease, background 0.5s ease;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1em;
}

.hero-caption:hover {
    transform: scale(1.03);
    background: linear-gradient(to right, #da7c25, #b923e1);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    transition: transform 0.5s ease, background 0.5s ease;
    -webkit-text-fill-color: transparent;
}

.hero-current-work {
    font-size: 1.3em;
    margin-top: 1em;
    text-align: center;
    font-weight: 500;
    transition: transform 0.5s ease;
}

.hero-current-work:hover {
    transform: scale(1.03);
}

.hero-current-work span {
    background: linear-gradient(to right, #ccc, #ccc);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background-position 0.5s ease, transform 0.5s ease;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.hero-current-work:hover span {
    background-position: 100% 0;
    background: linear-gradient(to right, #da7c25, #b923e1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background-position 0.5s ease, background 0.5s ease;
}

.hero-action {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.hero-connect, .hero-resume {
    padding: 0.5em 1em;
    border-radius: 50px;
    cursor: pointer;
    transition: filter 0.5s, scale 0.5s;
}

.hero-connect {
    background: linear-gradient(267deg, #da7c25 0%, #b923e1 102%);
}

.hero-connect:hover {
    filter: contrast(1.4);
    filter: drop-shadow(0 0 1em #7d3c16aa);
    scale: 1.03;
}

.hero-resume {
    border: 2px solid #dedede;
    text-decoration: none;
    color: #ccc;
}

.hero-resume:hover {
    border-color: #b415ff;
    filter: drop-shadow(0 0 2em #7d3c16aa);
    filter: contrast(1.4);
    scale: 1.03;
}
